<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1543324403-3e7c6f55a9cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="flex-container">
    <div class="flex-item">
      <h1>Araci Communities </h1>
      <p>Bringing Communities Together</p>
      <a class="btn btn-primary" href="#">Contact Us</a>
    </div>
  </div>
</div>
