<%= render 'shared/banner' %>

<div class="cards">
  <div class="card-category">
    <h2>The Agency</h2>
  </div>

  <div class="card-category">
    <h2>The Team</h2>
  </div>

  <div class="card-category">
    <h2>Activities</h2>
  </div>

  <div class="card-category">
    <h2>Methodology</h2>
  </div>

  <div class="card-category">
    <h2>Projects</h2>
  </div>

  <div class="card-category">
    <h2>Blog</h2>
  </div>

  <div class="card-category">
    <h2>Your Contribution</h2>
  </div>
</div>

<%= render 'shared/footer' %>
